.adoption-hero {
  position: relative;
  height: 89vh;
  overflow: hidden;
  color: #1e1e1e;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  filter: brightness(0.65);
}

.hero-content {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  height: 20vh;
  padding: 3rem;
  color: #ebe5e5ff;
  align-items:center;
}

.contents h1 {
  font-size: 3.5rem;
  line-height: 1.2;
  font-weight: 700;
}



.contents p {
  font-size: 1.1rem;
  margin-bottom: 8rem;
}



.right-images {
  position: relative;
  display: flex;
  flex-direction:column;
  align-items:flex-start;
  gap: 3.5rem;
  margin-top: 20rem;
}

.img-round {
  width: 120px;
  height: 30vh;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #fff;
  margin-top: 10rem;
}

.img-rounded {
  width: 290px;
  height: 290px;
  border-radius: 20px;
  object-fit: cover;
  border: 3px solid #fff;
  margin-top: 20px;;
}

.img-circle {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #fff;
  position: absolute;
  right: -50px;
  top: 0;
}

.adopt-text {
  font-family: 'Comic Sans MS', cursive;
  color: #332402;
  font-size: 1.4rem;
  margin-top: -10px;
}
.wave-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 1;
}

.wave-bottom svg {
  position: relative;
  display: block;
  width: 100%;
  height: 150px;
}

.wave-bottom1{
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 1;
}
.wave-bottom1 svg {
  position: relative;
  display: block;
  width: 100%;
  height: 8rem;
}
