.adopt-card {
  background-color: rgb(241, 231, 218);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 140%;
  }

.adopt-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.adopt-card h5 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.adopt-card p {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}


