
.login-page {
  background-image: url("../../assets/loginbg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  opacity:0.8;
}


.login-card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px); 
  -webkit-backdrop-filter: blur(12px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 2rem;
  width: 100%;
  max-width: 580px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);

}

.text-warning{
  color:black !important;
}