.register-page {
  height: 100vh;
  background: url("../../assets/stray3.avif") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  border-radius: 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
}
