.Aware-section{
    height: 89vh;
  width: 100%;
  background-image: url('../../assets/Awareness/pawbg.jpg'); /* Adjust path if needed */
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay{
  /* margin-top: 9.5vh; */
  margin-top: -6.5rem;
  width:100%;
  height: 80vh;
}
.hero-content h1 {
      font-family: 'Dancing Script', cursive;
  color: rgb(252, 248, 248);
 font-size: 130px;
  text-align: center;
  padding: 17rem;
  width:87rem;
  border-radius: 10px;
  font-weight: 700;
}

