.about-mission-section {
  background-image: url('../../assets/Hero/Mission.jpg'); /* Use your background image */
  background-size: cover;
  background-position: center;
  padding: 60px 40px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  border-radius: 12px;
  margin-top: -14rem;
  margin-bottom: 2rem;
}

.subtitle {
  letter-spacing: 2px;
  font-weight: bold;
  color: #f9c57d;
}

.about-mission-section h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.description {
  max-width: 700px;
  font-size: 1.1rem;
  line-height: 1.6;
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.mission-card {
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 20px 25px;
  display: flex;
  align-items: center;
  gap: 20px;
  color: #fff;
}

.mission-card .icon {
  font-size: 2rem;
  background-color: #f9c57d;
  padding: 12px;
  border-radius: 8px;
  color: #2b2b2b;
}

.mission-card h4 {
  font-size: 1.3rem;
  margin-bottom: 6px;
}
