
.card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

.btn-primary {
  border-radius: 50px;
}

.card {
  width:50rem;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(248, 248, 247);
}

.alls{
    background-color:antiquewhite;
}

