.footer {
  position: relative;
  background-image: url('./src/assets/footer.webp'); 
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  background-color: rgba(30, 30, 30, 0.9); 
  padding-top: 1rem;
  color: #f0e7db;
  overflow: hidden;
}

.footer-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(15, 15, 15, 0.322); 
  z-index: 1;
}

.footer-line,
.footer-content {
  position: relative;
  z-index: 2;
}

.footer-line {
  background-color: #d18633;
    font-family: 'Dancing Script', cursive;

  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: bold;
  color: #fff8ec;
  letter-spacing: 1px;
  text-shadow: 0 1px 2px #000;
  margin-top: -1.7rem;
}

.footer-content {
  padding: 2rem 2rem 4rem;
}

.footer-content a {
  color: #f0e7db;
  text-decoration: none;
}

.footer-content a:hover {
  color: #ffd08a;
  text-decoration: underline;
}

.newsletter-form {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.newsletter-form input {
  padding: 0.5rem 0.7rem;
  border: none;
  border-radius: 4px;
  flex: 1;
  min-width: 150px;
  background-color: #222;
  color: #fff;
}

.newsletter-form button {
  background-color: #d18633;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.newsletter-form button:hover {
  background-color: #e39b48;
}

.social-icons a {
  color: #f0e7db;
  font-size: 1.3rem;
  margin-right: 0.8rem;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #ffd08a;
}
